nbproject

# MediaWiki files
/cache
/data/*
!/data/.gitkeep
/docs
/extensions/*
!/extensions/*.php
/images
/includes
/languages
/maintenance
/mw-config
/resources
/serialized
/skins/*
!/skins/bento/
!/skins/Chameleon/
/tests
/vendor
/*.php
!/LocalSettings.php
/*.json
/*.js
composer.local.json-sample
phpcs.xml
Gemfile.lock
Rakefile
StartProfiler.sample
COPYING
CREDITS
FAQ
HISTORY
INSTALL
README
RELEASE-NOTES-*
UPGRADE
wiki.phtml
