#main-wrap {
    display: flex;
    min-height: 400px;
    align-items: stretch;
}

#main-wrap > sidebar {
    flex: 0 0 300px;
    background: #ffffff;
    text-align: center;
}

#main-wrap > sidebar h4 {
    font-weight: 300;
}

#main-wrap > sidebar h4::before,
#main-wrap > sidebar h4::after {
    content: ' â† ';
    opacity: 0.5;
}

#main-wrap > sidebar > .container-fluid {
    padding: 30px;
}

#main-wrap > main {
    flex: 1 1 auto;
    max-width: 100%;
}

#main-wrap > main > .container-fluid {
    max-width: 1200px;
}

/* User menu */

#user-menu-button .avatar {
    width: 1.8em;
    height: 1.8em;
    border-radius: 1em;
    margin: -0.4em 0 -0.4em -0.5em;
    vertical-align: middle;
}

/* Table of content */

#toc {
    background: #173F4F;
    color: #dceec8;
    padding: 1em;
    margin: 2em 0;
    clear: both;
}

#toc a {
    color: #dceec8;
}

#toctitle {
    position: relative;
}

#toctitle h2 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

.toctoggle {
    position: absolute;
    right: 0;
    top: 0;
}

#toc ul {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 0;
}

.tocnumber {
    display: inline-block;
    min-width: 1.5em;
}

/* Edit section button */

.mw-editsection a {
    font-size: 1rem;
    margin-left: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    vertical-align: middle;
}

.mw-editsection-bracket {
    display: none;
}

/* Categories */

.mw-normal-catlinks {
    background: #ffffff;
    padding: 0.5em 1em;
    margin: 2em 0;
    border-left: 3px solid #73BA25;
}

.mw-normal-catlinks li {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.mw-normal-catlinks > a {
    color: inherit;
    font-weight: bold;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul {
    margin-bottom: 1em;
}


/* Code */

pre {
    padding: 1em;
    border: 1px solid #adadad;
    border-radius: 3px;
}

/* table */

table {
    background: #ffffff;
}

/* Responsive images */

.tright, .floatright {
    margin-left: 1em;
}

.tleft, .floatleft {
    margin-right: 1em;
}

@media (max-width: 400px) {
    .tright, .floatright, .tleft, .floatleft {
        float: none !important;
        clear: none !important;
        margin-left: 0;
        margin-right: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.thumbinner {
    max-width: 100%;
    margin-bottom: 1em;
}

.thumbinner a.image {
    display: block;
}

.thumbcaption {
    font-size: 0.9em;
    padding: 0.5em;
    background: #ffffff;
    border-bottom: 3px solid #73BA25;
}
