#search-and-user {
    margin-bottom: -32px;
}

@media (max-width: 768px) {
    #search-and-user {
        margin-bottom: 20px;
    }
}

/* User menu */

#user-menu-button {
    position: relative;
    overflow: hidden;    
}

#user-menu-button .avatar {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 0;
    top: 0;
}

#user-menu-button .name {
    margin-left: 30px;
}

/* Edit section button */

.mw-editsection {
    float: right;
    margin-left: 0.5rem;
}

.mw-editsection a {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    vertical-align: middle;
}

.mw-editsection-bracket {
    display: none;
}

/* Categories */

.catlinks {
    clear: both;
}

.mw-normal-catlinks {
    background: #ffffff;
    padding: 0.5em 1em;
    margin: 2em 0;
    border-left: 3px solid #73BA25;
    clear: both;
}

.mw-normal-catlinks li {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.mw-normal-catlinks > a {
    color: inherit;
    font-weight: bold;
}

/* Headings */

ul {
    margin-bottom: 1em;
}


/* Code */

pre {
    padding: 1em;
    border: 1px solid #adadad;
    border-radius: 3px;
}

/* table */

table {
    background: #ffffff;
}

/* Responsive images */

.tright, .floatright {
    margin-left: 1em;
}

.tleft, .floatleft {
    margin-right: 1em;
}

@media (max-width: 400px) {
    .tright, .floatright, .tleft, .floatleft {
        float: none !important;
        clear: none !important;
        margin-left: 0;
        margin-right: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.thumbinner {
    max-width: 100%;
    margin-bottom: 1em;
}

.thumbinner a.image {
    display: block;
}

.thumbcaption {
    font-size: 0.9em;
    padding: 0.5em;
    background: #ffffff;
    border-bottom: 3px solid #73BA25;
}
