/* 
**
**  $Id: $
**
**  Funktion:  Adjusts the colors from contentadd_wiki.css to the
               blue style of the community wiki
**  Author:    Frank Sundermeyer <fs@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/

/*****************
* General Styles *
*****************/

.navlist,
#rightnav ul {
    list-style-image: url(../common/images/liDot_double_blue.png);
}
#searchbox .topleft {
    background: #fff url(images/blue_searchbox/top_left_corner.png) top left no-repeat;
}
#searchbox .topright {
    background: url(images/blue_searchbox/top_right_corner.png) top right no-repeat;
}
#searchbox .bottomleft {
    background: url(images/blue_searchbox/bottom_left_corner.png) bottom left no-repeat;
}
#searchbox .bottomright {
    background: url(images/blue_searchbox/bottom_right_corner.png) bottom right no-repeat;
}
h1, h2, h3, h4, h5, h6 {
    color: #336699;
}

/*******************
* Content Elements *
********************/

div.pre_scroll,
div.pre_hscroll {
    border-color: #86A4C2;
}
div.minutes {
    border-color: #336699;
}

/*************************************************
* Overwrite YAML styles                          *
*   all non color/image changes should go to the *
*   common css directory                         *
*************************************************/

blockquote {
    border-color: #86A4C2;
}
cite {
    border-left-color: #86A4C2;
}
code {
    background-color: #F2F8FD;
}
input, textarea {
    border-color: #336699;
}
input[type=text]:focus, textarea:focus {
        border-color: #336699;
}
input[type=submit] {
    background-color: #F2F8FD;
}
pre {
    border-color: #86A4C2;
}
ul {
    list-style-image: url(../common/images/liDot_community.png);
}

/*********************************************
* Wiki generated classes and ids             *
*  This is the main part of the opensuseskin *
**********************************************/


/*-----------------
*  General classes 
*-----------------*/

.usermessage {
    background-color: #F2F8FD;
    border-color: #336699;
}
.previewnote {
    background-color: #F2F8FD;
}

/*----------------------
*  The Personal Toolbar 
*----------------------*/

#pt-personal,
pt-personal a {
    color: #F2F8FD;
}

/*------------
* Preferences 
*-------------*/
#preftoc li.selected {
    background-color: #f9f9f9;
    border-top-color: #336699;
    border-bottom-color: #336699;
}

#preferences legend {
    border-color: 1px solid #86A4C2;
}
fieldset.prefsection {
    border-top-color: #86A4C2;
    border-bottom-color: #86A4C2;
}

/*-------------------
* Table of Contents 
*-------------------*/

.toc {
    border-top-color: #336699;
    border-bottom-color: #336699;
    background: #F2F8FD url(images/geeko_tail_community.gif) no-repeat top right;
}

/*--------------------
* Categories section 
*--------------------*/

#catlinks {
    border-top-color: #86A4C2;
}
.catlinks {
    font-size: 120%;
}

/*-----------
* Image page
*-----------*/

#filetoc {
    border-top-color: #86A4C2;
    border-bottom-color: #86A4C2;
}

/*---------------
* Image Galleries 
----------------*/

div.gallerybox div.thumb {
    border-top-color: #86A4C2;
    border-bottom: #86A4C2;
}

/*-------------
* Page history 
*-------------*/

#pagehistory li.selected {
    border-top-color: #336699;
    border-bottom-color: #336699;
}

/*-------
* Diffs 
*--------*/

td.diff-addedline {
    background-color: #F2F8FD;
}

/*----------------------
* System Messages Table 
*---------------------*/

#allmessagestable th {
    background-color: #336699;
}
#allmessagestable tr.orig {
    background-color: #86A4C2;
}

#allmessagestable tr.new {
    background-color: #F2F8FD;
}

/*------------*
* Thumb stuff *
*------------*/

div.thumb {
    border-color: #336699;
}

