/* 
**
**  $Id: $
**
**  Funktion: Master CSS-file for the openSUSE.org wiki
**  Author:   Frank Sundermeyer <fs@opensuse.org>
**  License:  see copyright/COPYRIGHT
*/

@import url(http://static.opensuse.org/c/css/yaml/core/base.css);
@import url(http://static.opensuse.org/c/css/common/basemod_opensuse.css);
@import url(http://static.opensuse.org/c/css/yaml/screen/content_default.css);
@import url(http://static.opensuse.org/c/css/common/contentmod_opensuse.css);
@import url(http://static.opensuse.org/hosts/wiki/opensuse/css/local/contentadd_wiki.css);
@import url(http://static.opensuse.org/c/css/common/opensuse_boxes.css);

