/* 
**
**  $Id: $
**
**  Funktion: Master printing CSS-file for the openSUSE.org wiki
**  Author:   Frank Sundermeyer <fs@opensuse.org>
**  License:  see copyright/COPYRIGHT
*/
@import url(../yaml/core/print_base.css);
@import url(../common/print_opensuse.css);
@import url(./printadd_wiki.css);
