.card {
	ul,
	ol {
		@extend .list-group;
		@extend .list-group-flush;
	}
	li {
		@extend .list-group-item;

		&:first-child,
		&:last-child {
			border-radius: 0;
		}
	}

	&,
	& > p:first-child {
		> a:first-child > img,
		> img:first-child {
			@extend .card-img-top;
		}
	}

	&,
	& > p:last-child {
		> a:last-child > img,
		> img:last-child {
			@extend .card-img-bottom;
		}
	}
}

.card-body :last-child {
	margin-bottom: 0;
}

.card-body :first-child {
	margin-top: 0;
}
