// Style edit section link as button
.mw-editsection {
	vertical-align: 0.6em;

	a {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-light;
		font-family: $font-family-sans-serif;
	}
}

.mw-editsection-bracket {
	display: none;
}
