.mw-editsection {
	float: right;
	margin-left: 0.5rem;

	a {
		font-family: $font-family-sans-serif;
		font-weight: normal;
		vertical-align: middle;
	}
}

.mw-editsection

.mw-editsection-bracket {
	display: none;
}
