#main-wrap {
    display: flex;
    min-height: 400px;
    align-items: stretch;
}

#main-wrap > sidebar {
    flex: 0 0 300px;
    background: #ffffff;
    text-align: center;
}

#main-wrap > sidebar h4 {
    font-weight: 300;
}

#main-wrap > sidebar h4::before,
#main-wrap > sidebar h4::after {
    content: ' â† ';
    opacity: 0.5;
}

#main-wrap > sidebar > .container-fluid {
    padding: 30px;
}

#main-wrap > main {
    flex: 1 1 auto;
}

#main-wrap > main > .container-fluid {
    max-width: 1200px;
}



/* Table of content */

#toc {
    background: #2f5361;
    color: #dceec8;
    padding: 1em;
    margin: 2em 0;
    clear: both;
}

#toc ul {
    list-style: none;
}

#toc a {
    color: #dceec8;
}

#toctitle {
    position: relative;
}

.toctoggle {
    position: absolute;
    right: 0;
    top: 0;
}

/* Edit section button */

.mw-editsection a {
    font-size: 1rem;
    margin-left: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    vertical-align: middle;
}

.mw-editsection-bracket {
    display: none;
}

/* Categories */

.mw-normal-catlinks {
    background: #ffffff;
    padding: 0.5em 1em;
    margin: 2em 0;
    border-left: 3px solid #81c13b;
}

.mw-normal-catlinks li {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.mw-normal-catlinks > a {
    color: inherit;
    font-weight: bold;
}

/* Headings */

#bodyContent h1,
#bodyContent h2,
#bodyContent h3,
#bodyContent h4,
#bodyContent h5,
#bodyContent h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#bodyContent ul {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* Code */

#bodyContent pre {
    padding: 1em;
    border: 1px solid #adadad;
    border-radius: 3px;
}

/* table */

#bodyContent table {
    background: #ffffff;
}

/* Responsive images */

@media (max-width: 400px) {
    div.tright, div.floatright, table.floatright {
        float: none;
        clear: none;
    }
}