#main-wrap {
    display: flex;
    min-height: 400px;
    align-items: stretch;
}

#main-wrap > sidebar {
    flex: 0 0 300px;
    background: #ffffff;
    text-align: center;
}

#main-wrap > sidebar h4 {
    font-weight: 300;
}

#main-wrap > sidebar h4::before,
#main-wrap > sidebar h4::after {
    content: ' â† ';
    opacity: 0.5;
}

#main-wrap > sidebar > .container-fluid {
    padding: 30px;
}

#main-wrap > main {
    flex: 1 1 auto;
}

#main-wrap > main > .container-fluid {
    max-width: 1200px;
}