/* This code was stolen shamelessly from enwikipedia's Common.css */
table.mw-abuselog-details {
	margin: 1em 1em 1em 0;
	background: #f9f9f9;
	border: 1px #aaa solid;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

table.mw-abuselog-details th, table.mw-abuselog-details td {
	border: 1px #aaa solid;
	padding: 0.2em;
}

table.mw-abuselog-details th {
	background: #f2f2f2;
	text-align: center;
}

table.mw-abuselog-details caption {
	font-weight: bold;
}

.mw-abusefilter-history-changed {
	background: #ffe0e0;
	font-weight: bold;
}

.mw-abuselog-var-value {
	white-space: pre-wrap;
	font-family: monospace;
}

div.mw-abuselog-var-value {
	max-height: 10em;
	max-width: 100%;
	overflow: auto;
}

td.mw-abuselog-var {
	width: 30%;
}

tr.mw-abusefilter-list-disabled, tr.mw-abusefilter-list-disabled td {
	color: #666666;
}

tr.mw-abusefilter-list-deleted, tr.mw-abusefilter-list-deleted td {
	color: #aaaaaa;
}

.mw-abusefilter-examine-match,
.mw-abusefilter-syntaxresult-ok,
li.mw-abusefilter-changeslist-match {
	/* @embed */
	background-image: url(yes_check.png);
}

.mw-abusefilter-examine-nomatch,
.mw-abusefilter-syntaxresult-error,
li.mw-abusefilter-changeslist-nomatch {
	/* @embed */
	background-image: url(red_x.png);
}

#mw-abusefilter-syntaxresult,
li.mw-abusefilter-changeslist-nomatch,
li.mw-abusefilter-changeslist-match {
	/* Do not consolidate these into a "background:" rule; it will override the background-image: settings in above rulesets */
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: left center;
}

/* Name is in site content language */
/* @noflip */
.sitedir-ltr .TablePager_col_af_public_comments {
	direction: ltr;
}

/* @noflip */
.sitedir-rtl .TablePager_col_af_public_comments {
	direction: rtl;
}

#mw-abusefilter-filter-tools {
	display: inline;
}

.client-nojs #mw-abusefilter-export-link,
.client-js #mw-abusefilter-export {
	display: none;
}
