/* Table of content */
#toc {
    position: sticky;
    top: 0;
    padding: 2rem 0;
    max-height: 100vh;
    overflow-y: auto;
}

#toctitle {
    display: none;
}

#toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#toc ul ul {
    padding-left: 1rem;
}

.tocnumber {
    display: inline-block;
    min-width: 1.5rem;
}

#toc a {
    color: inherit;
    opacity: 0.5;
}

#toc a:hover {
    opacity: 1;
}