/* 
 * Adapted styles from monobook for openSUSE.org
 * Only works in addition to the main.css from the MonoBook theme
 * Author: Frank Sundermeyer <fs@suse.de>
 * Last changed: 18 Oct 2006
 */

html, #globalWrapper {
  height: 100%;
}
#globalWrapper {
  min-width: 780px;
}
#column-content, #bodyContent. #contentSub {
 margin-top: 0 !important;
 padding-top: 0 !important;
}
#bodyContent {
  background-color: #fff;
}
#content {
  margin-top: 0;
  padding-top: 2.3em;
  border: none;
  z-index: 3;
}
#column-one {
  padding-top: 0;
  margin-top: 0;
}
body {
  height: 100%;
  background: #fff;
}
a { 
  color: #0a50a1;
}
a: active {
  color: red;
}
h1, h2, h3, h4, h5, h6 {
  color: #0b5147;
  border: none;
}
div.bar {
   width: 11.6em;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 0;
   background-color: #d7f1bd;;
}
.skipLinks {
  visibility: hidden;
  display: none;
}

/*
** Structural Elements
*/

/*
** general portlet styles (elements in the quickbar)
*/
.portlet {
  margin-bottom: 0;
  background-color: #d7f1bd;
  position: relative;
  z-index: 3;
}
.portlet h5 {
  color:#0b5147;
  background:#fff;
  padding: .12em 0 .12em .6em;
  margin: 0 .75em 0 0;
  display: block;
  height: auto;
  text-transform: none;
  font-weight: bold;
  font-size: 100%;
}
.pBody {
  background-color: transparent;
  border: none;
  padding: 0;
}
.portlet ul {
  list-style-type: none;
  list-style-image: none;
  padding: .625em 0 .95em 1.125em;
  margin: 0;
}
.portlet li {
  padding: 0 0 .31em 0;
  margin: 0;
}
.portlet a {
  text-decoration: none;
}
.portlet a: hover {
  text-decoration: underline;
}

/*
** Logo properties
*/

#p-logo {
  width: 11.6em;
  /* height: 86px; */
  height: 6.75em;
  background-color: #fff;
  z-index: 5;

}
#p-logo a,
#p-logo a:hover,
#p-logo a:active {
  width: 11.6em;
  height:6.75em;
  /*height: 86px;*/
  /*background-position: 35% 85% !important;*/
  background-position: 50% 50% !important;
}
/*
** Search portlet
*/

#p-search {
  z-index: 6;
}
#p-search .pBody {
  padding-bottom: 1.5em;
}
#p-search h5 {
  background: #efedee;
  margin-right: 0;
}
#searchInput {
  border: 1px solid #84a7cf;
  width: 6em;
}

/*
** the page-related actions- page/talk, edit etc
*/

#p-cactions {
  position: static;
}
#p-cactions li {
  border: 1px solid #0b5147;
  padding: .2em 0;
}
#p-cactions li.selected {
  border: 1px dotted #0b5147;
  padding: .2em 0;
}
#p-cactions li a, #p-cactions li.selected a {
  padding: 0 .8em 0 .8em;
  border: none;
  background-color: transparent;
}

/*
** the personal toolbar
*/

#p-personal {
  z-index: 5;
  background: #e3e3e3;
  height: 1.35em;
}
}
/* this is the ul contained in the portlet */
#p-personal ul {
  padding: 0 1.2em 0 0;
  list-style: none;
}
#p-personal li {
  margin-left: .5em;
}
#p-personal li a {
  min-width: 7.6em;
  color: #fff;
  padding: .2em .4em;
  background: #6eb927;
}
#p-personal li a:hover, #p-personal li a:active {
  color: #6eb927;
  background: #efeeee;
  padding: .2em .4em;
}
#p-personal li a:hover.new, #p-personal li a:active.new {
  color: #ba0000;
  background: #efeeee;
  padding: .2em .4em;
}

/*
** footer
*/
#footer {
  border: none !important;
  margin-top: 3em;
  margin-left: 0 !important;
}

/*
**  Home page styles
*/

div.hp_box {
  border: 1px solid #6eb927;
  padding: .7em;
  margin: .5em 0;
}
div.hp_box h3.emph {
  border: 1px solid #6eb927;
  margin: .3em 0;
  padding: .2em .3em;
  /*background-color:#dfefdf;*/
  /*background-color:#eff1ec;*/
  background-color:#ecf2e6;
}
div.hp_box p.more_inf {
  text-align: center;
  padding-bottom: .7em;
}

